<h1>NEW CAMPER PAGE</h1>

<%= form_for @camper do |f| %>
	<%= f.label :name %>
	<br>
	<%= f.text_field :name %>
	<br>
	<%= f.label :age %>
	<br>
	<%= f.text_field :age %>
	<br>
	<br>
	<%= f.submit %>
  <% end %>
  